table {
    
    border-spacing: 20px;
    border-collapse: separate;

}

td:nth-child(odd),th:nth-child(odd)
{
    color:red;
}

td:nth-child(even),th:nth-child(even)
{
    color:green;
}
th,td{
    text-align: center;
}



header
{
    text-align: center;
}
body{
    background-color: #611818;
}
h2{
    font-family: 'RocknRoll One', sans-serif;
}
ul{
    font-family: 'Akaya Kanadaka', cursive;
}
img{
    width: 200px;
    height: 200px;
}